body{
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 100vh;
}


header {
    background-color: #27ae60;
    padding-left: 20px;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 5;
}



article {
    display: flex;
    flex: 1 0 0;
    background-color: #fff;
    margin-top: 90px;
}

aside {
    background-color: #cacaca6e;
    width: 200px;
    padding-left: 20px;
    position: fixed;
    height: 100%;
  }

section {
    width: calc(100% - 200px);
    margin-left: 200px;
}



* {
    font-family: Verdana, sans-serif;
}

.content {
    color: #000;
    max-width: 1000px;
    margin: auto;
}
.viz {
    max-width:1000px; 
    margin:auto;
    height: 522px;
}
.viz img {
    height: 500px;
}

h3 a {
    color: #000;
    text-decoration: none;
  }

iframe {
    width: 100% !important;
    height: 400px !important;

  }
  #viz8 {
    margin-top: 80px;
  }

.clselect {
	width: 100%;
    scrollbar-width: none;
    height: 40px;
}
.cloption {
    height: 40px;
    width: 14%;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.input_label {
    display: inline-grid;
    margin-right: 25px;
    margin-bottom: 25px;
  }

  .anchor {
    padding-top: 90px;
    margin-top: -90px;
}

.manu-item {
    margin-top: 70px;
  }
html{scroll-behavior:smooth}